@using NewsBlog.Models;
@using PagedList.Mvc;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - &ltNewsBlog&gt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
</head>
<body>
    <div style="background-color:#808080; height:18px;margin-top:-30px;">
    </div>
    <div class="navbar navbar-default" style="background-color:#f9f9f9;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="glyphicon glyphicon-leaf" style="margin-top:12px; font-size:20px; color:#4DB7AD;"></i>
                @Html.ActionLink("NewsBlog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#4DB7AD; font-weight:bold; font-size:25px" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-tabs">
                    <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Admin", "Admin", "Home")</li>
                        <li>@Html.ActionLink("Додати новину", "Create", "Articles")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/scrollup")
    @RenderSection("scripts", required: false)
    <a href="#" class="scrollup">Наверх</a>
</body>
</html>
